body {
  background: rgb(197, 212, 203);
}

.the-business {
  width: 600px;
  padding-top: 100px;
  margin: 0 auto;
}

.gh-projects {
  padding: 10px 107px;
}

.list {
  line-height: 25px;
  list-style: none;
  a {
    text-decoration: none;
  }
}

.left-text {
  padding-right: 25px;
}

.right-text {
  padding-left: 25px;
}

.center-text {
  text-align: center;
}

/*.gh-logo {
  background: url('./public/images/gh-logo.png');
}*/
